<p>За дверью №<%= @open_door + 1 %> козел. Изменятся ли ваши шансы выиграть деньги, если вы измените ваш выбор?</p>

<h1>Ваш выбор:</h1>
<br />
<% @game.each_with_index do |value, i|%>
  <% if @open_door == i %>
    <%= image_tag('goat.jpg', :class => "item-img") %>
  <% else %>
    <%= link_to image_tag('door.jpg', :class => "item-img"), statistic_path(i) %>
  <% end %>
<% end %>
