<p>Перед вами 3 двери: за 2-мя козы, за 1-ой мешок с деньгами.</p>

<h1>Ваш выбор:</h1>
<br />
<% @game.each_with_index do |value, i|%>
  <%= link_to image_tag('door.jpg', :class => "item-img"), edit_statistic_path(i) %>
<% end %>
